// Colour ——————————————————————————————————————————————————————————————

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(210, 40%, 15%);

$color-red: hsl(5, 100%, 60%);
$color-orange: hsl(30, 100%, 50%);
$color-yellow: hsl(45, 100%, 50%);
$color-green: hsl(130, 60%, 50%);
$color-teal: hsl(200, 90%, 70%);
$color-blue: hsl(210, 100%, 50%);
$color-purple: hsl(240, 70%, 60%);

$color-primary: $color-blue;
$color-primary-lighter: mix($color-white, $color-primary, 20);
$color-primary-darker: mix($color-black, $color-primary, 25);
$color-primary-50: fade-out($color-primary, 0.5);
$color-primary-40: fade-out($color-primary, 0.6);
$color-primary-30: fade-out($color-primary, 0.7);
$color-primary-20: fade-out($color-primary, 0.8);
$color-primary-10: fade-out($color-primary, 0.9);
$color-text-primary: mix($color-black, $color-primary, 20);

$color-good: $color-green;
$color-good-lighter: lighten($color-good, 12);
$color-good-darker: darken($color-good, 8);
$color-good-50: fade-out($color-good, 0.5);
$color-good-40: fade-out($color-good, 0.6);
$color-good-30: fade-out($color-good, 0.7);
$color-good-20: fade-out($color-good, 0.8);
$color-good-10: fade-out($color-good, 0.9);
$color-text-good: mix($color-black, $color-good, 30);

$color-bad: $color-red;
$color-bad-lighter: lighten($color-bad, 12);
$color-bad-darker: darken($color-bad, 6);
$color-bad-50: fade-out($color-bad, 0.5);
$color-bad-40: fade-out($color-bad, 0.6);
$color-bad-30: fade-out($color-bad, 0.7);
$color-bad-20: fade-out($color-bad, 0.8);
$color-bad-10: fade-out($color-bad, 0.9);
$color-text-bad: mix($color-black, $color-bad, 10);

$color-caution: $color-yellow;
$color-caution-lighter: lighten($color-caution, 12);
$color-caution-darker: darken($color-caution, 6);
$color-caution-50: fade-out($color-caution, 0.5);
$color-caution-40: fade-out($color-caution, 0.6);
$color-caution-30: fade-out($color-caution, 0.7);
$color-caution-20: fade-out($color-caution, 0.8);
$color-caution-10: fade-out($color-caution, 0.9);
$color-text-caution: darken($color-caution, 10);

$color-tint: $color-white;
$tint-darkest: fade-out($color-tint, 0.4);
$tint-darker: fade-out($color-tint, 0.5);
$tint-dark: fade-out($color-tint, 0.6);
$tint-mid: fade-out($color-tint, 0.7);
$tint-light: fade-out($color-tint, 0.8);
$tint-lighter: fade-out($color-tint, 0.88);
$tint-lightest: fade-out($color-tint, 0.94);

$color-shade: $color-black;
$shade-darkest: fade-out($color-shade, 0.2);
$shade-darker: fade-out($color-shade, 0.4);
$shade-dark: fade-out($color-shade, 0.5);
$shade-mid: fade-out($color-shade, 0.7);
$shade-light: fade-out($color-shade, 0.85);
$shade-lighter: fade-out($color-shade, 0.9);
$shade-lightest: fade-out($color-shade, 0.94);

$grey-darkest: mix($color-white, $color-black, 20);
$grey-darker: mix($color-white, $color-black, 40);
$grey-dark: mix($color-white, $color-black, 50);
$grey-mid: mix($color-white, $color-black, 70);
$grey-light: mix($color-white, $color-black, 85);
$grey-lighter: mix($color-white, $color-black, 90);
$grey-lightest: mix($color-white, $color-black, 94);

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-red: #{$color-red};
  --color-blue: #{$color-blue};
  --color-green: #{$color-green};

  --color-primary: #{$color-primary};
  --color-primary-contrast: #{$color-white};
  --color-primary-lighter: #{$color-primary-lighter};
  --color-primary-darker: #{$color-primary-darker};
  --color-primary-50: #{$color-primary-50};
  --color-primary-40: #{$color-primary-40};
  --color-primary-30: #{$color-primary-30};
  --color-primary-20: #{$color-primary-20};
  --color-primary-10: #{$color-primary-10};
  --color-text-primary: #{$color-text-primary};

  --color-good: #{$color-good};
  --color-good-contrast: #{$color-white};
  --color-good-lighter: #{$color-good-lighter};
  --color-good-darker: #{$color-good-darker};
  --color-good-50: #{$color-good-50};
  --color-good-40: #{$color-good-40};
  --color-good-30: #{$color-good-30};
  --color-good-20: #{$color-good-20};
  --color-good-10: #{$color-good-10};
  --color-text-good: #{$color-text-good};

  --color-bad: #{$color-bad};
  --color-bad-contrast: #{$color-white};
  --color-bad-lighter: #{$color-bad-lighter};
  --color-bad-darker: #{$color-bad-darker};
  --color-bad-50: #{$color-bad-50};
  --color-bad-40: #{$color-bad-40};
  --color-bad-30: #{$color-bad-30};
  --color-bad-20: #{$color-bad-20};
  --color-bad-10: #{$color-bad-10};
  --color-text-bad: #{$color-text-bad};

  --color-caution: #{$color-caution};
  --color-caution-contrast: #{$color-black};
  --color-caution-lighter: #{$color-caution-lighter};
  --color-caution-darker: #{$color-caution-darker};
  --color-caution-50: #{$color-caution-50};
  --color-caution-40: #{$color-caution-40};
  --color-caution-30: #{$color-caution-30};
  --color-caution-20: #{$color-caution-20};
  --color-caution-10: #{$color-caution-10};
  --color-text-caution: #{$color-text-caution};

  --color-root: var(--color-white);
  --color-root-backdrop: #{$tint-darkest};

  --color-shade: #{$color-black};
  --color-tint: #{$color-white};
  --color-contrast: var(--color-black);

  --shade-darkest: #{$shade-darkest};
  --shade-darker: #{$shade-darker};
  --shade-dark: #{$shade-dark};
  --shade-mid: #{$shade-mid};
  --shade-light: #{$shade-light};
  --shade-lighter: #{$shade-lighter};
  --shade-lightest: #{$shade-lightest};

  --tint-darkest: #{$tint-darkest};
  --tint-darker: #{$tint-darker};
  --tint-dark: #{$tint-dark};
  --tint-mid: #{$tint-mid};
  --tint-light: #{$tint-light};
  --tint-lighter: #{$tint-lighter};
  --tint-lightest: #{$tint-lightest};

  --contrast-darkest: #{$shade-darkest};
  --contrast-darker: #{$shade-darker};
  --contrast-dark: #{$shade-dark};
  --contrast-mid: #{$shade-mid};
  --contrast-light: #{$shade-light};
  --contrast-lighter: #{$shade-lighter};
  --contrast-lightest: #{$shade-lightest};

  --grey-darkest: #{$grey-darkest};
  --grey-darker: #{$grey-darker};
  --grey-dark: #{$grey-dark};
  --grey-mid: #{$grey-mid};
  --grey-light: #{$grey-light};
  --grey-lighter: #{$grey-lighter};
  --grey-lightest: #{$grey-lightest};

  --color-text: var(--color-contrast);
  --text-light: var(--contrast-darker);
  --text-lighter: var(--contrast-mid);
  --text-lightest: var(--contrast-light);

  --color-focus: var(--color-primary-40);
}
